<form #form="ngForm" (submit)="onSubmit(form)">
  <label>Total Amount<input type="text" name="totalAmount" [(ngModel)]="formData.totalAmount" /></label>
  <label>Discount<input type="text" name="discount" [(ngModel)]="formData.discount" /></label>
  <button type="submit" [disabled]="!form.valid">Submit Invoice</button>
</form>

<div *ngIf="submitted">
  <h3>Invoice Details</h3>

  <p><strong>Total Amount:</strong> {{ recentInvoice.totalAmount }}</p>
  <p><strong>Discount:</strong> {{ recentInvoice.discount }}</p>
  <p><strong>Balance Amount:</strong> {{ recentInvoice.balanceAmount }}</p>
  <p><strong>Transaction Date:</strong> {{ recentInvoice.transactionDate }}</p>
</div>
